<% provide :title, t("home") %>
<div class="jumbotron">
  <h1 class="display-3"><%= t"welcome" %></h1>
  <p><%= t"about_intro" %></p>
  <p> <%= link_to t("home_intro"), about_path, class: "btn btn-primary btn-lg", role: "button" %> </p>
</div>
