<footer class="container">
  <p><%= link_to t("top"), "#", class: "float-right" %></p>
  <p><%= link_to t("about"), about_path %> &middot; <%= link_to t("en"), locale:"en" %> &middot; <%= link_to t("vi"), locale:"vi" %></p>
</footer>
