<header>
  <div>
    <%= link_to "BookReview", "#", id: "logo" %>
    <nav>
      <ul >
        <li><%= link_to t("home"), root_path %></li>
        <li><%= link_to t("help"), help_path %></li>
        <li><%= link_to t("log_in"), login_path %></li>
      </ul>
    </nav>
  </div>
</header>
